<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.demo.dao.UserDao">
    <resultMap id="UserResultMap" type="com.group.demo.entity.User">
        <id column="id_user" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="user_password" jdbcType="VARCHAR" property="password"/>
        <result column="points" jdbcType="INTEGER" property="point"/>
    </resultMap>
    <select id="login" resultMap="UserResultMap">
        select id_user, user_name, user_password, points
        from tb_user
        where user_name = #{userName,jdbcType=VARCHAR} and user_password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="findUserById" resultMap="UserResultMap">
        select id_user,user_name, points
        from tb_user
        where id_user = #{id}
    </select>
    <select id="queryAllUsers" resultMap="UserResultMap">
        select id_user,user_name, points
        from tb_user
        order by points desc
    </select>
    <insert id="insertUser" parameterType="com.group.demo.entity.User">
        insert into tb_user ( user_name, user_password, points)
        values ( #{name}, #{password}, 0)
    </insert>
    <update id="updateUser" parameterType="com.group.demo.entity.User">
        update tb_user
        <set>
            <if test="name != null">
                user_name = #{name},
            </if>
            <if test="password != null">
                user_password = #{password},
            </if>
            <if test="point != null">
                points = #{point},
            </if>
        </set>
        where id_user = #{id}
    </update>
</mapper>